*{
	font-family: 'Oxygen', sans-serif;
}

body{
	margin: 0;
    min-width: 500px;
    background-color: white;
    color: black;
}

.page-header{
	position: static;
	text-align: center;
    width: 100%;
}

.page-header h1{
    display: inline-block;
    border-bottom: 3px solid;
}

.navigation{
    display: flex;
	justify-content: center;
}

.clock{
	display: block;
	position: relative;
	text-align: center;
	top: 110px;
	height: 150px;
}

.clock .phase{
	position: relative;
	font-size: 3em;
	top:-10px;
}

.clock .countDown{
	position: relative;
	font-size: 6em;
	top:-45px;
	font-family: 'Droid Sans Mono';
}

.clock .estimatedEndTime{
    position: relative;
    font-size: 1em;
    top:-50px;
}

.clock .sessionsRemaining{
    position: relative;
    font-size: 1em;
    top:-10px;
}

#progressBar{
	display: block;
	position: absolute;
	top: -100px;
	left: calc(50% - 190px);
}

.controls{
    position: relative;
    top: 250px;
	display: flex;
	justify-content: center;
}

.controls .btn-lg{
	width:100px;
	height:50px;
}

.settings {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.sliders {
    display: flex;
	flex-direction: column;
	justify-content: center;
}

#workBar {
	padding-bottom: 30px;
}

#workSlider {
    display: flex;
    justify-content: space-between;
}

#slider-work {
    top: 10px;
    margin-right: 30px;
    width: 500px;
}

#input-work {
    width: 50px;
    color: black;
    background-color: white;
}

#breakBar {
    padding-bottom: 30px;
}

#breakSlider {
    display: flex;
    justify-content: space-between;
}

#slider-break {
    top: 10px;
    margin-right: 30px;
    width: 500px;
}

#input-break {
    width: 50px;
    color: black;
    background-color: white;
}

#rewardBar {
    padding-bottom: 30px;
}

#rewardSlider {
    display: flex;
    justify-content: space-between;
}

#slider-reward {
    top: 10px;
    margin-right: 30px;
    width: 500px;
}

#input-reward {
    width: 50px;
    color: black;
    background-color: white;
}

#sessionsBar {
    padding-bottom: 30px;
}

#sessionsSlider {
    display: flex;
    justify-content: space-between;
}

#slider-sessions {
    top: 10px;
    margin-right: 30px;
    width: 500px;
}

#input-sessions {
    width: 50px;
    color: black;
    background-color: white;
}

.about{
    position: fixed;
    left: 10px;
    bottom: 3px;
    display: inline-block;
}
